@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		background-color: #f4f4f4;
		font-family: 'Source Sans Pro', sans-serif;
	}
	* {
		box-sizing: border-box;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}
}


.read div h2 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 6px;
}

.read div p {
	margin-bottom: 12px;
}

@font-face {
	font-family: 'Frank Ruhl Libre';
	src: url('../static/fonts/FrankRuhlLibre-Medium.ttf');
}
@font-face {
	font-family: 'Frank Ruhl Libre';
	src: url('../static/fonts/FrankRuhlLibre-Bold.ttf');
}
@font-face {
	font-family: 'Frank Ruhl Libre';
	src: url('../static/fonts/FrankRuhlLibre-Regular.ttf');
}@font-face {
	font-family: 'Frank Ruhl Libre';
	src: url('../static/fonts/FrankRuhlLibre-SemiBold.ttf');
}
