@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		background-color: #f4f4f4;
		font-family: 'Source Sans Pro', sans-serif;
	}
	* {
		box-sizing: border-box;
	}
}

.read div h2 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 6px;
}

.read div p {
	margin-bottom: 12px;
}
