@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Source Sans Pro', sans-serif;
	}
	* {
		box-sizing: border-box;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
		-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
		outline: none !important;
	}
	
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}
}


.read div h2 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 6px;
}

.read div p {
	margin-bottom: 12px;
}

